.react-flow {
    --xy-node-background-color-default: transparent; /* or any color you prefer */
}

.react-flow__node {
    background-color: var(--xy-node-background-color-default);
    border: none;
}


