@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Hind+Madura:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:wght@400&display=swap');

:root {
  /* Font */
  --font-sans: 'Hind Madura', sans-serif;
  --font-serif: 'Sorts Mill Goudy', serif;

  /* Typography */
  --font-h1: 700 24px/1.3 var(--font-sans);
  --font-h2: 500 20px/1.4 var(--font-sans);
  --font-h3: 500 16px/1.5 var(--font-sans);
  --font-body: 400 14px/1.6 var(--font-sans);
  --font-body-italic: italic 400 14px/1.6 var(--font-sans);
  --font-big-letters: 700 48px/1.2 var(--font-serif);

  /* Colors */
  --color-text: #081527;
  --color-primary: #6CA9AE;
  --color-bg-primary: #f8f8f8;
  --color-bg-secondary: #2f3a68;
  --color-error: #da7d54;
  --color-border: #dbdbdb;

  /* DataSim Node Colors */
  --color-node-blue-light: #E5F2FD;
  --color-node-blue-dark: #1C4DBD;
  --color-node-green-light: #EAF7EA;
  --color-node-green-dark: #358234;
  --color-node-yellow-light: #FFF9E5;
  --color-node-yellow-dark: #B18761;
  --color-node-orange-light: #FFF0ED;
  --color-node-orange-dark: #FA7250;
  --color-node-purple-light: #F2EBFD;
  --color-node-purple-dark: #7340F5;
  --color-node-gray-light: #F1F0F6;
  --color-node-gray-dark: #797A96;
}

@layer base {
  body {
    font-family: var(--font-sans);
    color: var(--color-text);
    background-color: var(--color-bg-primary);
  }

  h1 {
    font: var(--font-h1);
    font-weight: bold;
  }

  h2 {
    font: var(--font-h2);
  }

  h3 {
    font: var(--font-h3);
  }

  p {
    font: var(--font-body);
  }

  em {
    font: var(--font-body-italic);
  }
}

@layer utilities {
  .rounded-app {
    border-radius: 8px;
  }

  .rounded-t-app {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .rounded-b-app {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .p-app {
    padding: 20px;
  }

  /* Background color classes */
  .bg-bg {
    background-color: var(--color-bg);
  }

  .bg-primary {
    background-color: var(--color-bg-primary);
  }

  .bg-secondary {
    background-color: var(--color-bg-secondary);
  }

  .bg-error {
    background-color: var(--color-error);
  }

  .bg-node-blue-light {
    background-color: var(--color-node-blue-light);
  }

  .bg-node-green-light {
    background-color: var(--color-node-green-light);
  }

  .bg-node-yellow-light {
    background-color: var(--color-node-yellow-light);
  }

  .bg-node-orange-light {
    background-color: var(--color-node-orange-light);
  }

  .bg-node-purple-light {
    background-color: var(--color-node-purple-light);
  }

  .bg-node-gray-light {
    background-color: var(--color-node-gray-light);
  }

  /* Text color classes */
  .text-node-blue-dark {
    color: var(--color-node-blue-dark);
  }

  .text-node-green-dark {
    color: var(--color-node-green-dark);
  }

  .text-node-orange-dark {
    color: var(--color-node-orange-dark);
  }

  .text-node-purple-dark {
    color: var(--color-node-purple-dark);
  }

  .text-node-gray-dark {
    color: var(--color-node-gray-dark);
  }

  .text-node-yellow-dark {
    color: var(--color-node-yellow-dark);
  }
}

@layer components {
  .btn-primary {
    background-color: var(--color-primary);
    border-radius: 8px;
    padding: 10px;
    color: var(--color-text);
  }

  .btn-error {
    background-color: var(--color-error);
    border-radius: 8px;
    padding: 10px;
    @apply text-white;
  }

  .btn-navy {
    background-color: var(--color-bg-secondary);
    border-radius: 8px;
    padding: 10px;
    @apply text-white;
  }

  .input-primary {
    background-color: var(--color-bg-primary);
    border-radius: 8px;
    padding: 10px;
    border: 2px solid var(--color-border);
    color: var(--color-text);
  }

  .border-primary {
    border-color: var(--color-primary);
  }

  .border-secondary {
    border-color: var(--color-bg-secondary);
  }
}

@layer node {
  .node-container {
    @apply flex flex-col items-center justify-center p-2 rounded-lg;
  }

  .node-letter {
    @apply font-bold text-3xl mr-4;
    font: var(--font-big-letters);
  }

  .node-title {
    @apply font-bold text-lg mb-1;
    font: var(--font-h2);
  }
}

@layer form {
  .form-label {
    @apply font-bold text-lg mb-1;
  }

  .form-input {
    border-color: var(--color-border);
    @apply w-full p-4 border-2 rounded-lg
  }
}